*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.container{
    border: 5px solid lightpink;
    background-color: lightcoral;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 20px;
    height: 600px;
}

.item{
    border: 5px solid lightsteelblue ;
    font-size: 4rem;
}
